    <link rel="stylesheet" href="/Car/Public/css/about.css">

    <section class="banner">
        <!--<img src="img/about.jpg" alt="">-->

    </section>
    <section class="text">
        <div class="top">
            <span>首页</span><span>>></span><span>关于公司</span>
        </div>
        <div class="title">
            <div class="kuang">
            </div>
            <div class="ju">
                <div class="big">
                    <ul class="dian">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="zi">
                        <div></div><p>关</p><span>/</span><p>于</p><span>/</span><p>公</p><span>/</span><p>司</p><div></div>

                    </div>
                    <div class="tit">
                        <span>A&nbsp;B&nbsp;O&nbsp;U&nbsp;T</span>
                        <span>U&nbsp;S</span>
                    </div>
                </div>
            </div>
            <div class="kuang">
            </div>
        </div>
        <div class="title1 wow bounceInDown"  data-wow-duration="0.5s">
            <span><?php echo $data[0]['title'] ?></span>
            <?php echo $data[0]['text1'] ?>
            <?php echo $data[0]['text2'] ?>
        </div>
        <div class="img1">
            <img src="<?php echo $data[0]['img1'] ?>" class="wow slideInLeft"  alt="" data-wow-duration="0.5s">
            <img src="<?php echo $data[0]['img2'] ?>" class="wow slideInRight"  alt="">
        </div>
        <div class="title2 wow bounceInDown" data-wow-duration="0.5s">
            <span><?php echo $data[1]['title'] ?></span>
            <?php echo $data[1]['text1'] ?>
            <?php echo $data[1]['text2'] ?>

        </div>
        <div class="img2">
            <img class="wow bounceInDown" data-wow-duration="0.5s" src="<?php echo $data[1]['img1'] ?>" alt="">
        </div>
        <div class="ju">
            <div class="big1">
                <ul class="dian1">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="zi1">
                    <div></div><p>公</p><span>/</span><p>司</p><span>/</span><p>文</p><span>/</span><p>化</p><div></div>

                </div>
                <div class="ezi">
                    <div></div><span> CORPORATE&nbsp; &nbsp;CULTURE</span><div></div>
                </div>
            </div>
        </div>
        <div class="title2 wow bounceInDown" data-wow-duration="0.5s" >
            <?php echo $data[2]['text1'] ?>
            <?php echo $data[2]['text2'] ?>


        </div>
        <div class="img2 wow bounceInDown" data-wow-duration="0.5s">
            <img src="<?php echo $data[2]['img1'] ?>
" alt="">
        </div>
        
        <div class="img4 wow slideInLeft" data-wow-duration="1s">
            <img src="/Car/Public/img/car.png" alt="">
        </div>

    </section>
