<footer>
    <img src="/Car/Public/img/weibu.png" alt="">
    <div class="zhe">
        <ul class="di">
            <li>
                <p>车型展示</p>
                <br>
                <a href="/Car/index.php/product">魅影</a>
                <br>
                <a href="/Car/index.php/gusite">古吉特</a>
                <br>
                <a href="/Car/index.php/product">图片和视频</a>
            </li>
            <li>
                <p>车型展示</p>
                <br>
                <a href="/Car/index.php/about">经销商查询</a>
                <br>
                <a href="/Car/index.php/about">关于公司</a>
                <br>
                <a href="/Car/index.php/call">联系我们</a>
            </li>
            <li>
                <p href="/Car/index.php/product">车型展示</p>
                <br>
                <a href="/Car/index.php/guarantee">维修保养服务</a>
                <br>
                <a href="/Car/index.php/call">联系我们</a>
            </li>
        </ul>
        <div class="didi">
            Global  Site&nbsp;&nbsp;&nbsp;隐私声明
        </div>
        <div class="zishu">
            <span>2015-2017&nbsp;中国汽车&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;汽车(中国)投资有限公司</span>
            <span>京ICP备11010988号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京公网安备110105243677788</span>
        </div>
    </div>
</footer>
<script>
    new WOW().init();
</script>

</body>
</html>