
    <link rel="stylesheet" href="/Car/Public/css/guarantee.css">

<section class="banner">
    <img src="/Car/Public/img/baxiu.png" alt="">

</section>
<section class="text">
    <div class="top">
        <span>首页</span><span>>></span><span>售后服务</span><span>></span><span>保修服务</span>
    </div>
    <div class="zi">
        <div class="nei wow bounceInDown">
            <span><?php echo $data[0]['title'] ?></span>
            <?php echo $data[0]['des'] ?>
        </div>

        <img src="<?php echo $data[0]['img'] ?>" class="wow bounceInDown" alt="">
    </div>

    <div class="bottom">
        <div class="om">
            <div class="ft wow slideInLeft">
                <img src="<?php echo $data[1]['img'] ?>" alt="">
                <div class="des">
                    <span><?php echo $data[1]['title'] ?></span>
                    <?php echo $data[1]['des'] ?>
                </div>
            </div>
            <div class="ft wow slideInRight">
                <img src="<?php echo $data[2]['img'] ?>" alt="">
                <div class="des">
                    <span><?php echo $data[2]['title'] ?></span>
                    <?php echo $data[2]['des'] ?>
                </div>
            </div>
        </div>
    </div>
    <div class="zi1 wow bounceInDown">
        <div class="nei1 wow bounceInDown">
            <span><?php echo $data[3]['title'] ?></span>
            <?php echo $data[3]['des'] ?>
        </div>

        <img src="<?php echo $data[3]['img'] ?>" alt="">
    </div>
    <div class="jishu wow bounceInDown">
        <span><?php echo $data[4]['title'] ?></span>
        <?php echo $data[4]['des'] ?>
        <img src="<?php echo $data[4]['img'] ?>" alt="">
    </div>

    <div class="img4 wow slideInLeft" data-wow-duration="1s" >

    </div>

</section>
